<div class="container-fluid top">

    <div class="row top">
        <ng-map zoom="8" id="map" center="[{{vm.lat}}+','+{{vm.lon}}]">
            <custom-marker ng-repeat="p in vm.positions track by $index"
                           id="custom-marker-{{$index}}"
                           on-click="vm.map.showInfoWindow('foo', 'custom-marker-'+$index)"
                           position="{{p.pos}}">
                <div>
                    position {{p.name}}: {{p.pos[0]}}, {{p.pos[1]}}
                </div>
            </custom-marker>

            <info-window id="foo" on-mouseover="vm.mouseover()">
                <div ng-non-bindable="">
                    Lat: {{anchor.getPosition().lat()}}<br/>
                    Lng: {{anchor.getPosition().lng()}}<br/>
                </div>
            </info-window>
        </ng-map>
    </div>
    <button ng-click="vm.setPositions(vm.positions1)">show positions 1</button>
    vm.positions : {{vm.positions}}
</div>


